<div
  class="bg-dropback d-100 vh-100 d-flex justify-content-center"
>
  <div
    class="d-flex align-items-center flex-column gap-5 pt-msg"
  >
    <img
      [@zoomAnimation]="imageAnimationState"
      src="assets/elementos/primeiro-round.png"
      alt="Soco"
      width="300"
    />
    <button
      type="button"
      class="bg-transparent border-0"
      [@zoomAnimation]="buttonAnimationState"
      (click)="executeInitiative()"
    >
      @switch (roundNumber) { @case (1) {
      <img src="assets/elementos/btn-round-1.png" alt="Round 1" width="200" />
      } @case (2) {
      <img src="assets/elementos/btn-round-2.png" alt="Round 2" width="200" />
      } @case (3) {
      <img src="assets/elementos/btn-round-3.png" alt="Round 3" width="200" />
      } @case (4) {
      <img src="assets/elementos/btn-round-3.png" alt="Round 3" width="200" />
      } @case (5) {
      <img src="assets/elementos/btn-round-3.png" alt="Round 3" width="200" />
      } }
    </button>
  </div>
</div>
