<div class="d-flex justify-content-between">
  <div class="d-flex flex-column align-items-start" style="width: 148px">
    <small class="ps-2 fw-bold">Player</small>
    <div class="position-relative height-maker">
      <span
        class="bg-success position-absolute life-bar player-life"
        [class.animate-fill]="showLifeBars"
        [style.width.px]="showLifeBars ? (playerHPPercentage / 100) * 115 : 0"
        style="left: 3px; top: 5px; height: 14px"
      ></span>
      <img
        src="assets/elementos/vida-jogador.png"
        alt="Vida"
        class="position-absolute"
        style="top: 0; width: 140px"
      />
    </div>
    <div class="ps-2 w-100 d-flex align-items-start gap-1" style="height: 20px">
      <img src="assets/elementos/estrela.png" alt="Vitória round" width="15" />
      <img src="assets/elementos/estrela.png" alt="Vitória round" width="15" />
    </div>
  </div>
  <div class="pt-2 position-relative">
    <img
      class="position-absolute"
      src="assets/elementos/marcador.png"
      alt="Versus"
      style="width: 60px; right: -30px; top: 5px"
    />
    <small
      class="position-absolute text-black fw-bold text-center"
      style="right: -30px; width: 60px; top: 15px"
    >
      VS
    </small>
    <small
      class="position-absolute text-center"
      style="right: -30px; top: 22px; width: 60px; top: 28px"
      >R{{ currentRound }}/T{{ currentTurn }}</small
    >
  </div>
  <div class="d-flex flex-column align-items-end" style="width: 148px">
    <small class="pe-2 fw-bold">Opponent</small>
    <div class="position-relative height-maker">
      <span
        class="bg-success position-absolute life-bar player-life"
        [class.animate-fill]="showLifeBars"
        [style.width.px]="showLifeBars ? (playerHPPercentage / 100) * 115 : 0"
        style="right: 6px; top: 5px; height: 14px"
      ></span>
      <img
        src="assets/elementos/vida-oponente.png"
        alt="Vida"
        class="position-absolute"
        style="right: 2px; top: 0; width: 140px"
      />
    </div>
    <div class="pe-2 d-flex align-items-start justify-content-end gap-1">
      <img src="assets/elementos/estrela.png" alt="Vitória round" width="15" />
      <img src="assets/elementos/estrela.png" alt="Vitória round" width="15" />
    </div>
  </div>
</div>
