<div class="size-h">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex flex-column align-items-start fw-bolder">
        <span>Player</span>
        <div class="w-100 position-relative mt-1">
          <div class="progress-stacked border border-1 border-black">
            <div
              class="progress"
              role="progressbar"
              aria-label="Player HP"
              [attr.aria-valuenow]="playerHPPercentage"
              aria-valuemin="0"
              aria-valuemax="100"
              [style.width.%]="playerHPPercentage"
            >
              <div
                class="progress-bar"
                [ngClass]="{
                  'bg-success': playerHPPercentage > 25,
                  'bg-danger': playerHPPercentage <= 25
                }"
              ></div>
            </div>
          </div>
          <img
            src="assets/elementos/vida.png"
            alt="Vida"
            width="30"
            class="vida-overlay"
          />
        </div>
      </div>
      <div class="col-3 d-flex flex-column align-items-center pt-2 vs-background">
        <small class="text-black fw-bold"> VS </small>
        <small>R{{ currentRound }} | T{{ currentTurn }}</small>
      </div>
      <div class="col d-flex flex-column align-items-end fw-bolder">
        <span> NPC </span>
        <div class="w-100 position-relative">
          <div
            class="progress-stacked border border-1 border-black progress-reverse"
          >
            <div
              class="progress"
              role="progressbar"
              aria-label="Enemy HP"
              [attr.aria-valuenow]="enemyHPPercentage"
              aria-valuemin="0"
              aria-valuemax="100"
              [style.width.%]="enemyHPPercentage"
            >
              <div
                class="progress-bar"
                [ngClass]="{
                  'bg-success': enemyHPPercentage > 25,
                  'bg-danger': enemyHPPercentage <= 25
                }"
              ></div>
            </div>
            <div
              class="progress"
              role="progressbar"
              aria-label="Enemy HP Lost"
              [attr.aria-valuenow]="100 - enemyHPPercentage"
              aria-valuemin="0"
              aria-valuemax="100"
              [style.width.%]="100 - enemyHPPercentage"
            >
              <div class="progress-bar bg-transparent"></div>
            </div>
          </div>
          <img
            src="assets/elementos/vida.png"
            alt="Vida"
            width="30"
            class="vida-overlay-opponent inverted"
          />
        </div>
      </div>
    </div>
  </div>
</div>
