<div class="bg-dropback d-100 vh-100 d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img
      src="assets/elementos/escolha-sua-defesa.png"
      alt="Escolha a defesa"
      width="300"
      [@zoomAnimation]="imageAnimationState"
    />
    <div class="d-flex gap-3 mt-3">
      <img
        src="assets/elementos/esquivar-inativo.png"
        alt="Esquivar"
        width="150"
        [@zoomAnimation]="imageAnimationState"
      />
      <img
        src="assets/elementos/bloquear.png"
        alt="Bloquear"
        width="150"
        [@zoomAnimation]="imageAnimationState"
      />
    </div>
    <div class="">
      <button
        class="bg-transparent border-0 d-flex justify-content-center align-items-center"
        (click)="closeDefender()"
        [@zoomAnimation]="imageAnimationState"
      >
        <img
          src="assets/elementos/close.png"
          class="mt-3"
          alt="Fechar"
          width="50"
        />
      </button>
    </div>
  </div>
</div>
