<div #gameContainer class="game-container"></div>
<app-marker />

<app-initiative
  [playerIniciative]="playerInitiative"
/>
<!-- <app-intial-round
  *ngIf="showInitialRound"
  [roundNumber]="combatService.currentRound"
  (initiativeExecuted)="onInitiativeExecuted()"
/>
<app-fight-end 
  *ngIf="showFightEnd"
  [result]="fightResult"
  (fightEndFinished)="onFightEndFinished()"
/>
<app-round-end
  *ngIf="showRoundEnd"
  [playerWon]="playerWonRound"
  (roundEndFinished)="onRoundEndFinished()"
/> -->

<app-control />
