<div #gameContainer class="game-container"></div>
<app-marker />

@if(showInitialRound){
<app-intial-round
  [roundNumber]="gameState.currentRound"
  (toogleRound)="toogleRound()"
/>
} @if(showInitiative){
<app-initiative
  [roundStarter]="gameState.roundStarter"
  (toogleInitiative)="toogleInitative()"
/>} @if(showChooseScam){
<app-choose-scam
  [playerFighterCharacter]="playerFighter?.character || null"
  (toogleChosseScam)="toogleChooseScam()"
/>
}
<!-- 
<app-fight-end 
  *ngIf="showFightEnd"
  [result]="fightResult"
  (fightEndFinished)="onFightEndFinished()"
/>
<app-round-end
  *ngIf="showRoundEnd"
  [playerWon]="playerWonRound"
  (roundEndFinished)="onRoundEndFinished()"
/> -->

@if(showControl){
<app-control (toogleChosseScam)="toogleChooseScam()" />
}
